/* Accordion.
*/
.nkn-accordion-section:not(.nkn-open) .nkn-content {
    max-height: 0; 
    padding: 0 .5rem 0 1rem;
    margin-bottom: 0;
    border-bottom: 0;
}

.nkn-accordion-section .nkn-content {
    margin-bottom: .5rem;
    padding: 1rem .5rem .5rem 1rem;
    overflow: hidden;
    -webkit-transition: max-height 0.3s ease-out, padding 0.3s ease-out, margin-bottom 0.3s ease-out, border-bottom 0.3s ease-out;
    -o-transition: max-height 0.3s ease-out, padding 0.3s ease-out, margin-bottom 0.3s ease-out, border-bottom 0.3s ease-out;
    transition: max-height 0.3s ease-out, padding 0.3s ease-out, margin-bottom 0.3s ease-out, border-bottom 0.3s ease-out;
    height: auto;
}

/* Visual styles for each accordion section's heading.
*/
.nkn-accordion-section .nkn-heading {
    display: block;
    padding: .5rem;
    color: #000;
    position: relative;
}

/* Any element with data-nkn-role "accordion-toggle" has a "pointer" cursor.
*/
[data-nkn-role="accordion-toggle"] {
    cursor: pointer;
}

/* Visual styles for each accordion section's open/close toggle.
*/
.nkn-accordion-section:not(.nkn-open) .nkn-accordion-toggle,
.nkn-accordion-section.nkn-open .nkn-accordion-toggle {
    position: absolute;
    top: calc(50% - 3px);
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); 
    right: 0;
}

.nkn-accordion-section.nkn-open .nkn-accordion-toggle .nkn-icon {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
}


