/*Dropdown*/
.nkn-dropdown {
    display: inline-block;
}

.nkn-dropdown-toggle {
    cursor: pointer;
}

.nkn-dropdown:not(.nkn-open) .nkn-content {
    display: none;
}

.nkn-dropdown.nkn-open .nkn-content { 
    position: absolute;
    min-width: 120px;
    width: auto;
    padding: .5rem;
    background-color: #fff;
    border: solid 1px var(--nkn-border-color);
    z-index: var(--nkn-dropdown-z-index);
    border-radius: .25rem;
}