.nkn-hamburger-menu.nkn-open {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: var(--nkn-curtain-color);
}

.nkn-hamburger-container {
    height: 100%;
    background-color: #fff;
    box-shadow: var(--nkn-box-shadow);
    width: 264px;
}

.nkn-hamburger-menu ul.nkn-hamburger-content {
    list-style-type: none;
    padding: 0; 
    margin: 0;    
}

.nkn-hamburger-menu .nkn-hamburger-content > .nkn-link {
    padding: .5rem 1rem;
}

.nkn-hamburger-menu:not(.nkn-open) .nkn-hamburger-content {
    display: none;
}

