/* Navbar.
   By convention, each LI should contain an HTML A element except for the navbar toggle.
   If you do not place A elements inside your LI elements, you will probably have to copy the "a" styles below to your LI elements.
*/
* {
    outline: solid 1px red;
}

.nkn-navbar .nkn-head {
    display: flex;
    align-items: center;
    width: 100%;
}

.nkn-navbar .nkn-head  .nkn-toggle {
    margin-left: auto;
}

.nkn-navbar .nkn-nav-content {
    position: relative;
}
.nkn-navbar ul.nkn-nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none;    
    position: absolute;
    top: 0;
    background-color: #fff;
    width: 100%;
}

.nkn-navbar ul.nkn-nav  li {
    padding: .5rem 1rem;
}

.nkn-navbar ul.nkn-nav li a {
    cursor: pointer;
    text-decoration: none;/*en el framework considero o no quitar esta regla para la etiqueta <a>*/    
}

.nkn-navbar.nkn-open  ul.nkn-nav {
    display: block;    
}

/* On medium and full size screens.
*/
@media (min-width: 768px) {    
    .nkn-navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .nkn-navbar ul.nkn-nav {
        display: flex;
        position: relative;
    }

    .nkn-navbar .nkn-toggle {
        display: none;
    }
}



