/*sidebar*/
.nkn-sidebar {
    overflow-y: auto;
}

ul.nkn-sidebar {
    list-style: none;
    padding: 0;
    margin: 0;
}
.nkn-sidebar > li {
    margin: 0;
    cursor: pointer;
}

.nkn-sidebar  li a {
    padding: .5rem 1rem;
    color: #424242;
    width: 100%;
    cursor: pointer;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

ul.nkn-sidebar li ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nkn-sidebar > li ul > li {
    margin: 0;
}

.nkn-sidebar > li ul > li>a {
    padding: .5rem 1rem .5rem 2rem;
    width: 100%;
    cursor: pointer;
}

/*Sub menu*/
.nkn-sidebar-section:not(.nkn-open) .nkn-sidebar-item-content{
    max-height:0; 
    padding: 0 .5rem 0 1rem;
    margin-bottom: 0;
    border-bottom: 0;    
}

.nkn-sidebar-item-content {
    margin-bottom: .5rem;
    padding: 1rem .5rem .5rem 1rem;
    overflow: hidden;
    height: auto;
    max-height: 600px;
}

.nkn-sidebar .nkn-sidebar-section .nkn-heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding-right: 1rem;
    cursor: pointer;
}



