/*Variables for web component
*/
:root {
    /*z-index propierty*/
    --nkn-hamburger-menu-z-index: 2020;
    --nkn-modal-z-index: 2020;
    --nkn-navbar-z-index: 2010;
    --nkn-dropdown-z-index: 1999;
    /*height of input, select, buttom*/
    --nkn-form-element-height: 2.4375rem;
}







 