/*Variables for web component
*/
:root {
    --nkn-navbar-height: 3rem;
    --nkn-form-element-height: 2.4375rem;/*height of input, select, buttom*/
    --nkn-modal-z-index: 2020;
    --nkn-hamburger-menu-z-index: 2015;
    --nkn-sidebar-toggle-z-index: 2015;
    --nkn-navbar-z-index: 2010;
    --nkn-sliding-door-z-index: 2001;
    --nkn-dropdown-z-index: 1999;
    --nkn-curtain-z-index: 2000;
    /*variables for sliding-door*/
    --nkn-sliding-door-open-width: 264px;
    --nkn-sliding-door-close-width: 64px;
    /*Container*/
    --max-width-container: 100%; /*var valores en diferentes breakpoints*/
}

/* Variables for medium screens.
*/
@media (min-width: 769px) {
    :root {
        --nkn-navbar-height: 3rem;
    }
}

/* Variables for full size screens.
*/
@media (min-width: 1025px) {
    :root {
        --nkn-navbar-height: 4rem;
    }
}




 