/* various.css contains all style rules that included with the framework but are not part of a specific web component.
 */

html {
    -webkit-text-size-adjust: 100%; /*Prevent adjustments of font size after orientation changes in iOS.*//*lo seguiremos usando?*/            
    font-size: 16px;
}

* , *:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 16px;
}
a {
    text-decoration: none;
}
/* -------------------------------------------------- Container*/
.nkn-container {
    max-width: var(--max-width-container);
    margin-right: auto;
    margin-left: auto;
    padding: 0 1rem;
}

/*Float element
*/
.nkn-clear {
    overflow: auto;
}

.nkn-clear:after {
    content: "";
    display: table;
    clear: both;
}

.nkn-left {
    float: left;
}

.nkn-right {
    float: right;
}

/*Horizontal center*/
.nkn-center {
    text-align: center;
    margin: 0 auto;
}

/*Vertical align middle
*/

.nkn-vertical-align{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Hide
*/
.nkn-hide {
    display: none;
}

@media (max-width: 767px) {
    .nkn-hide-s {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .nkn-hide-m {
        display: none;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .nkn-hide-l {
        display: none;
    }
}

@media (min-width: 1200px) {
    .nkn-hide-xl {
        display: none;
    }
}
/*Show element*/
.nkn-show {
    display: block; /*Revisar con Carlos, ver como funciona*/
}

/*Display*/
.nkn-block {
    display: block;
}

.nkn-inline {
    display: inline;
}

/*Text-align
*/
.nkn-text-center {
    text-align: center;
}

.nkn-text-justify {
    text-align: justify;
}

.nkn-text-left {
    text-align: left;
}

.nkn-text-right {
    text-align: right;
}

/*Padding
*/

/*Spacing

Propiedad
m - Se usa m para abreviar margin.
p - Se usa pe para abreviar padding.

Lados
r - right
l - left
t - top
b - bottom
x - left and right
y - top and bottom

*/

/*Margin small
sets margin to 0.5 rem
*/
.nkn-m-small:not(:empty) {
    margin: 0.5rem;
}

.nkn-mr-small {
    margin-right: 0.5rem;
}

.nkn-ml-small {
    margin-left: 0.5rem;
}

.nkn-mt-small {
    margin-top: .5rem;
}

.nkn-mb-small {
    margin-bottom: 0.5rem;
}

.nkn-mx-small {
    margin-left: 0.5rem;
    margin-right: .5rem;
}

.nkn-my-small {
    margin-top: .5rem;
    margin-bottom: .5rem;
}
/*Margin medium
sets margin to 1 rem
*/
.nkn-m-medium:not(:empty) {
    margin: 1rem;
}

.nkn-mr-medium {
    margin-right: 1rem;
}

.nkn-ml-medium {
    margin-left: 1rem;
}

.nkn-mt-medium {
    margin-top:1rem;
}

.nkn-mb-medium {
    margin-bottom: 1rem;
}

.nkn-mx-medium {
    margin-right: 1rem;
    margin-left: 1rem;
}
.nkn-my-medium{
    margin-top:1rem;
    margin-bottom: 1rem;
}

/*Margin large
sets margin to 1.5 rem*/
.nkn-m-large:not(:empty) {
    margin: 1.5rem;
}

.nkn-mr-large {
    margin-right: 1.5rem;
}

.nkn-ml-large {
    margin-left: 1.5rem;
}

.nkn-mt-large {
    margin-top: 1.5rem;
}

.nkn-mb-large {
    margin-bottom: 1.5rem;
}

.nkn-mx-large {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.nkn-my-large {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

/*Padding
*/
.nkn-p-small:not(:empty) {
    padding: 0.5rem;
}

.nkn-pr-small {
    padding-right: 0.5rem;
}

.nkn-pl-small {
    padding-left: 0.5rem;
}

.nkn-pt-small {
    padding-top: .5rem;
}

.nkn-pb-small {
    padding-bottom: 0.5rem;
}

.nkn-px-small {
    padding-left: 0.5rem;
    padding-right: .5rem;
}

.nkn-py-small {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

/*Padding medium
sets Padding to 1 rem
*/
.nkn-p-medium:not(:empty) {
    padding: 1rem;
}

.nkn-pr-medium {
    padding-right: 1rem;
}

.nkn-pl-medium {
    padding-left: 1rem;
}

.nkn-pt-medium {
    padding-top:1rem;
}

.nkn-pb-medium {
    padding-bottom: 1rem;
}

.nkn-px-medium {
    padding-right: 1rem;
    padding-left: 1rem;
}
.nkn-py-medium{
    padding-top:1rem;
    padding-bottom: 1rem;
}

/*Padding large
sets Padding to 1.5 rem*/
.nkn-p-large:not(:empty) {
    padding: 1.5rem;
}

.nkn-pr-large {
    padding-right: 1.5rem;
}

.nkn-pl-large {
    padding-left: 1.5rem;
}

.nkn-pt-large {
    padding-top: 1.5rem;
}

.nkn-pb-large {
    padding-bottom: 1.5rem;
}

.nkn-px-large {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.nkn-py-large {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
/*Border*/
.nkn-border {
    border: solid 1px var(--nkn-border-color);
}

.nkn-pointer {
    cursor: pointer;
}






