/*Horizontal alignament for text or element
*/
.nkn-text-center {
    text-align: center;
}

.nkn-text-justify {
    text-align: justify;
}

.nkn-text-left {
    text-align: left;
}

.nkn-text-right {
    text-align: right;
}

/*Horizontal alignament for element
*/
/*Center*/
.nkn-center {
    text-align: center;
    margin: 0 auto;
}

/*space between elements*/

.nkn-space-between {
    display: flex;
    justify-content: space-between;
}
.nkn-align-items-center {
    align-items: center;
}
/*Vertical align 
*/

.nkn-vertical-align{
    display: flex;
    justify-content: center;
    align-items: center;
}