/*Float element
*/
.nkn-clear {
    overflow: auto;
}

.nkn-clear:after {
    content: "";
    display: table;
    clear: both;
}

.nkn-clear .nkn-left {
    float: left;
}

.nkn-clear .nkn-right {
    float: right;
}