/* Variables for small screens.
*/
:root {
    --nkn-border-color: #d7caca;
    --nkn-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    --nkn-color-hover: rgba(248, 249, 250, 0.7);
    /*variables for sliding-door*/
    --nkn-curtain-light: rgba(0,0,0,.5);
    --nkn-curtain-dark: rgba(0,0,0,.8);
    /*end variables for sliding-door*/
    --nkn-focus-link-color: #006cbc;
    --nkn-icon-height: 1.5rem;
    --nkn-icon-width: 1.5rem;        
}

/*Accordion
*/
.nkn-accordion .nkn-heading {
    border-bottom: solid 1px var(--nkn-border-color);
}
.nkn-accordion .nkn-content {
    border-left: solid 1px var(--nkn-border-color);
    border-right: solid 1px var(--nkn-border-color);
    border-bottom: solid 1px var(--nkn-border-color);
}
/*Border*/
.nkn-border {
    border: solid 1px var(--nkn-border-color);
}
/*dropdown
*/
.nkn-dropdown.nkn-open .nkn-content {
    box-shadow: var(--nkn-box-shadow);
}

/*Form
*/
.nkn-form {
    border: solid 1px var(--nkn-border-color);
}

/*----Input text*/
.nkn-label {
    color: rgba(0, 0, 0, 0.4);
}

.nkn-input {
    border: 1px solid var(--nkn-border-color);
}
/*End Form
*/

/*Menu hamburguer
*/
/*Hover on li of hamburger menu*/
.nkn-container-hamburger-menu.nkn-open ul > li:not(.nkn-menu-toggle):hover {
    background-color: var(--nkn-color-hover);
}

/*Icon in nkn-hamburger-menu*/
.nkn-hamburger-menu .nkn-icon {
    cursor: pointer;
    vertical-align: middle;
    margin: 0 0.5rem;
}
/*End Menu hamburguer
*/

/*Progress bar
*/
.nkn-icon-item-progress-bar.nkn-completed .nkn-icon {
    fill: #1FD280;
}

.nkn-icon-item-progress-bar.nkn-pending .nkn-icon {
    fill: #d14;
}
/* Navbar
*/
.nkn-navbar-container {
    background-color: #CCC;
}

/*----Select.
*/
.nkn-select {
    border: 1px solid var(--nkn-border-color);
}

/*Sliding door
*/
@media (max-width: 1024px) { 
    .nkn-sliding-door-frame.nkn-open  .nkn-curtain.nkn-curtain-light {
        background-color: var(--nkn-curtain-light);
    }

    .nkn-sliding-door-frame.nkn-open  .nkn-curtain.nkn-curtain-dark {
        background-color: var(--nkn-curtain-dark);
    }
}

/*Sidebar
*/
.nkn-sidebar > li > a:hover {
    background-color: var(--nkn-color-hover);
}

.nkn-sidebar > li ul li > a:hover {
    background-color: var(--nkn-color-hover);
}

.nkn-sidebar .nkn-heading:hover {
    background-color: var(--nkn-color-hover);
}





