/* Accordion.
*/
.nkn-accordion {
    border-top: solid 1px var(--nkn-border-color);
    border-left: solid 1px var(--nkn-border-color);
    border-right: solid 1px var(--nkn-border-color);
}

/* accordion heading.
*/
.nkn-accordion .nkn-accordion-item .nkn-accordion-heading {
    padding: .5rem;
    cursor: pointer;
    border-bottom: solid 1px var(--nkn-border-color);    

    display: flex;
    align-items: center;
    width: 100%;   
}

.nkn-accordion .nkn-accordion-item .nkn-accordion-heading  .nkn-icon-toggle {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.nkn-accordion .nkn-accordion-item.nkn-open .nkn-icon-toggle {
    transform: rotate(180deg);
}

/*accordion content
*/
.nkn-accordion .nkn-accordion-item:not(.nkn-open) .nkn-accordion-content {
    height: 0; 
    overflow: hidden;
    padding: 0 0.5rem;
}

.nkn-accordion .nkn-accordion-item.nkn-open .nkn-accordion-content {
    padding: .5rem;  
    height: auto;
    border-bottom: solid 1px var(--nkn-border-color);   
}

.nkn-accordion .nkn-accordion-item .nkn-accordion-content {
    transition: max-height 0.3s ease-out, 
                padding 0.3s ease-out, 
                border-bottom 0.3s ease-out;    
}

