/*Dropdown*/
.nkn-dropdown .nkn-dropdown-toggle {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: inherit;
}

.nkn-dropdown .nkn-dropdown-toggle .nkn-icon-toggle {
    margin-left: .25rem;
    display: flex;
    align-items: center;
}

.nkn-dropdown:not(.nkn-open) .nkn-dropdown-content {
    display: none;
}

.nkn-dropdown.nkn-open ul.nkn-dropdown-content { 
    list-style-type: none;
    padding: 0;
    margin: .5rem 0;
    position: absolute;
    min-width: 120px;
    background-color: #fff;
    z-index: var(--nkn-dropdown-z-index);
    box-shadow: var(--nkn-box-shadow);
}

.nkn-dropdown.nkn-open ul.nkn-dropdown-content > li.nkn-link { 
    margin: .5rem;
}