/*Form
*/
.nkn-input,
.nkn-select,
.nkn-button {
    background-color: transparent;
    border: solid 1px var(--nkn-border-color);
    border-radius: .4rem;
    padding: .5rem;
    height: var(--nkn-form-element-height); 
    color: #000;
}

.nkn-input,
.nkn-select {
    width: 100%;
}

.nkn-select {
    padding-right: 1.5rem;
    appearance: none;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 0 29 14" width="29"><path fill="%23000" d="M9.37727 3.625l5.08154 6.93523L19.54036 3.625"/></svg>') center right no-repeat;   
}

.nkn-button {
    cursor: pointer;
}

.nkn-button:disabled {
    cursor: not-allowed;
    opacity: 0.3;
}

.nkn-label {
    margin-bottom: .5rem;
    display: inline-block;
    color: var(--nkn-label-color);
}

.nkn-input-radio {
    margin-bottom: .5rem;
}

.nkn-input-radio,
.nkn-input-checkbox {
    line-height: 1.5;
}

.nkn-label-middle {
    line-height: var(--nkn-form-element-height);
}

/*Margin for form row*/
.nkn-form .nkn-row-padding > [class*="nkn-col-"] {
    margin-bottom: .75rem;
}

