.nkn-hamburger-menu .nkn-icon-toggle {
    margin: 1rem;
    cursor: pointer;
}

/*nkn-hamburger-menu close*/
.nkn-hamburger-menu:not(.nkn-open) .nkn-curtain {
    display: none;
}

/*nkn-hamburger-menu open*/
.nkn-hamburger-menu.nkn-open .nkn-curtain {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: var(--nkn-hamburger-menu-z-index);
    background-color: var(--nkn-curtain-color);
}

.nkn-hamburger-menu.nkn-open .nkn-hamburger-content {
    height: 100%;
    overflow: auto;
    box-shadow: var(--nkn-box-shadow);
    width: 264px;
    background-color: #fff;
}

.nkn-hamburger-menu.nkn-open .nkn-hamburger-content .nkn-icon-close {
    cursor: pointer;
}
/*hamburger content open right*/
.nkn-hamburger-menu.nkn-open .nkn-hamburger-content.nkn-right { 
    float: right;    
}

.nkn-hamburger-menu.nkn-open .nkn-hamburger-content.nkn-right .nkn-icon-toggle.nkn-close {
    text-align: right;
}

/*hamburger content open left*/
.nkn-hamburger-menu.nkn-open .nkn-hamburger-content.nkn-left { 
    float: left;
}

.nkn-hamburger-menu .nkn-hamburger-content ul.nkn-nav { 
    list-style-type: none;
    padding: 0; 
    margin: 0;    
}

.nkn-hamburger-menu .nkn-hamburger-content .nkn-nav-item {
    margin: 1rem;
    cursor: pointer;
}

.nkn-hamburger-menu.nkn-open .nkn-curtain:after {
    content: "";
    display: table;
    clear: both;
}

