.nkn-navbar .nkn-navbar-heading {
    margin: 1rem 1rem 0 1rem;
    display: flex;
    align-items: center;
}

.nkn-navbar .nkn-navbar-heading  .nkn-icon-toggle {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.nkn-navbar .nkn-navbar-content {
    position: relative;
}

.nkn-navbar .nkn-navbar-content ul.nkn-nav {
    list-style-type: none;
    padding: 0; 
    margin: 0;
}

.nkn-navbar .nkn-navbar-content .nkn-nav {
    display: none;    
    position: absolute;
    z-index: var(--nkn-navbar-z-index);
    top: 0;
    background-color: #fff;
    width: 100%;
}

.nkn-navbar .nkn-navbar-content .nkn-nav  .nkn-nav-item {
    margin: 1rem;
    cursor: pointer;
}

.nkn-navbar.nkn-open .nkn-nav {
    display: block;    
}

.nkn-navbar .nkn-navbar-content .nkn-nav .nkn-active {
    color: var(--nkn-accent-color);
}

.nkn-navbar .nkn-navbar-content .nkn-nav .nkn-active a {
    color: inherit;
}
/* On medium and full size screens.
*/
@media (min-width: 768px) {    
    .nkn-navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nkn-navbar .nkn-navbar-content .nkn-nav {
        display: flex;
        position: relative;
    }

    .nkn-navbar .nkn-navbar-content .nkn-nav .nkn-nav-item {
        margin: .25rem .5rem;
        padding: .25rem .5rem;
    }

    .nkn-navbar .nkn-navbar-heading .nkn-icon-toggle {
        display: none;
    }
}



