/* Navbar.
   By convention, each LI should contain an HTML A element except for the navbar toggle.
   If you do not place A elements inside your LI elements, you will probably have to copy the "a" styles below to your LI elements.
*/

.nkn-navbar .nkn-navbar-heading {
    display: flex;
    align-items: center;
    width: 100%;
}

.nkn-navbar .nkn-navbar-heading  .nkn-icon-toggle {
    margin-left: auto;
}

.nkn-navbar .nkn-navbar-content {
    position: relative;
}
.nkn-navbar .nkn-navbar-content ul.nkn-nav {
    list-style-type: none;
    padding: 0; 
    margin: 0;
    display: none;    
    position: absolute;
    z-index: var(--nkn-navbar-z-index);
    top: 0;
    background-color: #fff;
    width: 100%;
}

.nkn-navbar .nkn-navbar-content ul.nkn-nav  li.nkn-nav-item {
    margin: .5rem 1rem;
}

.nkn-navbar.nkn-open  ul.nkn-nav {
    display: block;    
}

.nkn-navbar .nkn-navbar-content ul.nkn-nav .nkn-active {
    color: var(--nkn-accent-color);
}

.nkn-navbar .nkn-navbar-content ul.nkn-nav .nkn-active a {
    color: inherit;
}
/* On medium and full size screens.
*/
@media (min-width: 768px) {    
    .nkn-navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .nkn-navbar .nkn-navbar-content ul.nkn-nav {
        display: flex;
        position: relative;
    }

    .nkn-navbar .nkn-navbar-content ul.nkn-nav  li.nkn-nav-item {
        margin: .25rem .5rem;
        padding: .25rem .5rem;
    }
    .nkn-navbar .nkn-navbar-heading .nkn-icon-toggle {
        display: none;
    }
}



