/* Tables.
*/
table.nkn-table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
}

table.nkn-table caption {
    padding:.75rem;
    font-weight: bold;
}

table.nkn-table td, table.nkn-table th {
    text-align: left;
}

@media (min-width: 768px) {
     
    table.nkn-table th:not(.nkn-hide-s):not(.nkn-hide-m):not(.nkn-hide-l),
    table.nkn-table td:not(.nkn-hide-s):not(.nkn-hide-m):not(.nkn-hide-l) {
        display: table-cell;
    }

    table.nkn-table tr {
        border: solid 1px var(--nkn-border-color);
    }

    .nkn-table thead th {
        color: rgba(0, 0, 0, 0.4);
        font-weight: 500;
        background-color: #fff;
        padding: .75rem;
    }
 
    .nkn-table td {
        padding: .75rem;
    }
    
    .nkn-table tbody tr:nth-child(2n) {
        background-color: rgba(248, 249, 250, 0.7);
    }
}

@media (max-width: 767px) {
    /*Basic table*/
    table.nkn-table.nkn-basic th:not(.nkn-hide-s):not(.nkn-hide-m):not(.nkn-hide-l),
    table.nkn-table.nkn-basic td:not(.nkn-hide-s):not(.nkn-hide-m):not(.nkn-hide-l) {
        display: table-cell;
    }

    table.nkn-table.nkn-basic tr {
        border: solid 1px var(--nkn-border-color);
    }

    .nkn-table.nkn-basic thead th {
        color: rgba(0, 0, 0, 0.4);
        font-weight: 500;
        background-color: #fff;
        padding: .75rem;
    }
 
    .nkn-table.nkn-basic td {
        padding: .75rem;
    }
    
    .nkn-table.nkn-basic tbody tr:nth-child(2n) {
        background-color: rgba(248, 249, 250, 0.7);
    }
    
    /*reduced table*/
    table.nkn-reduced td {
        padding: .5rem;
    }

    table.nkn-reduced thead {
        display: none;
    }

    table.nkn-reduced tbody tr {
        position: relative;
        display: block;
        border-left: solid 1px var(--nkn-border-color);
        border-right: solid 1px var(--nkn-border-color);
        border-bottom: solid 1px var(--nkn-border-color);
    }

    table.nkn-reduced tbody tr:first-child {
        border-top: solid 1px var(--nkn-border-color);
    }

    table.nkn-reduced td {
        border: none;
    }

    table.nkn-reduced td:not(.nkn-title):not(.nkn-description):not(.nkn-right-top) {
        display: none;
    }

    table.nkn-reduced td.nkn-title {
        color: black;
        display: block;
        padding-bottom: 0;
        white-space: nowrap;
        overflow: hidden;
        width: 60vw;
    }
    
    table.nkn-reduced td.nkn-right-top {
        position: absolute;
        right: .5rem;
        top: 0;
        color: #6c6969e6;
        font-size: 0.8rem;
    }

    table.nkn-reduced td.nkn-description {
        color: #6c6969e6;
        display: block;
        font-size: 0.8rem;
        padding-top: .25rem;
    }

    /*Vertical table*/
	table.nkn-vertical thead {
		display: none;
    }
    
	table.nkn-vertical tr {
		display: block;
        margin: .5rem;
        border: solid 1px var(--nkn-border-color);
    }
    
	table.nkn-vertical td {
        display: flex;
        align-items: center;
        margin: 1rem .5rem;
        width: calc(100% - 1rem - 2px);
    }

    /*label for cell*/
	table.nkn-vertical td:before {
        content: attr(data-title) " ";
        color: var(--nkn-secondary-title-color);
        width: 40%;
        padding-right: .5rem;
        overflow: hidden;
        text-overflow: ellipsis;
        overflow-wrap: break-word;
	}
}
